body{
    margin: 0px;
}
#name{
    color: darkgoldenrod;
}

.link{
        text-decoration: none;
        background-color: orange;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.top{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.middle{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.end{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    float: inline-end;
}
.working-image{
    width: 20%;
    float: left;
    margin-left: 10%;
    padding-left: 1%;
    
}
.working-image img{
    width: 100%;
}
.foter{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    float: inline-end;
    margin: 10px 10px 10px;
    
}
.end-half{
    width: 80%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-right: 5%;
    margin-top: 5%;
}
.end-div{
    width: 60px;
    background-image: linear-gradient(green,blue);
    margin: 10px 5px 10px;
}